<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Customer Server Name or Type</th>
      <th>Serial Number</th>
      <th>Order</th>
      <th>iX Model Number</th>
      <th>CPU Count</th>
      <th>HDD Count (A)</th>
      <th>HDD Type</th>
      <th>HDD Size</th>
      <th>SSD Count (A)</th>
      <th>IPMI MAC</th>
      <th>Onboard NIC 1 MAC</th>
      <th>Onboard NIC 2 MAC</th>
      <th>Onboard NIC 3 MAC</th>
      <th>Onboard NIC 4 MAC</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>*FREENASMINI-DISKLESS-A2Z</td>
      <td>A1-55267</td>
      <td>20074</td>
      <td>*FREENASMINI-DISKLESS-A2Z</td>
      <td>0</td>
      <td></td>
      <td></td>
      <td></td>
      <td>1</td>
      <td>D05099E1934E</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>*FREENASMINI-DISKLESS-A2Z</td>
      <td>A1-55268</td>
      <td>20074</td>
      <td>*FREENASMINI-DISKLESS-A2Z</td>
      <td>0</td>
      <td></td>
      <td></td>
      <td></td>
      <td>1</td>
      <td>D05099E192FC</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>*FREENASMINI-DISKLESS-A2Z</td>
      <td>A1-55269</td>
      <td>20074</td>
      <td>*FREENASMINI-DISKLESS-A2Z</td>
      <td>0</td>
      <td>1</td>
      <td>1TB</td>
      <td>SATA2</td>
      <td>1</td>
      <td>D05099E192FD</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>*FREENASMINI-DISKLESS-A2Z</td>
      <td>A1-55270</td>
      <td>20074</td>
      <td>*FREENASMINI-DISKLESS-A2Z</td>
      <td>0</td>
      <td>1</td>
      <td>SATA2</td>
      <td>1TB</td>
      <td>1</td>
      <td>D05099E192FF</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td>*FREENASMINI-DISKLESS-A2Z</td>
      <td>A1-55271</td>
      <td>20074</td>
      <td>*FREENASMINI-DISKLESS-A2Z</td>
      <td>0</td>
      <td>1</td>
      <td>1TB</td>
      <td>SATA2</td>
      <td>1</td>
      <td>D05099E192ED</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>5</th>
      <td>*FREENASMINI-DISKLESS-A2Z</td>
      <td>A1-55272</td>
      <td>20074</td>
      <td>*FREENASMINI-DISKLESS-A2Z</td>
      <td>0</td>
      <td>1</td>
      <td>1TB</td>
      <td>SATA2</td>
      <td>1</td>
      <td>D05099E192FA</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>6</th>
      <td>*FREENASMINI-DISKLESS-A2Z</td>
      <td>A1-55273</td>
      <td>20074</td>
      <td>*FREENASMINI-DISKLESS-A2Z</td>
      <td>0</td>
      <td>1</td>
      <td>1TB</td>
      <td>SATA2</td>
      <td>1</td>
      <td>D05099E19399</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>7</th>
      <td>*FREENASMINI-DISKLESS-A2Z</td>
      <td>A1-55274</td>
      <td>20074</td>
      <td>*FREENASMINI-DISKLESS-A2Z</td>
      <td>0</td>
      <td></td>
      <td></td>
      <td></td>
      <td>1</td>
      <td>D05099E192F4</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>8</th>
      <td>*FREENASMINI-DISKLESS-A2Z</td>
      <td>A1-55275</td>
      <td>20074</td>
      <td>*FREENASMINI-DISKLESS-A2Z</td>
      <td>0</td>
      <td>1</td>
      <td>SATA3</td>
      <td>3TB</td>
      <td>1</td>
      <td>D05099E1930B</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>9</th>
      <td>*FREENASMINI-DISKLESS-A2Z</td>
      <td>A1-55276</td>
      <td>20074</td>
      <td>*FREENASMINI-DISKLESS-A2Z</td>
      <td>0</td>
      <td>1</td>
      <td>1TB</td>
      <td>SATA2</td>
      <td>1</td>
      <td>D05099E192FB</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>