 <div style="background-color:Moccasin;color:Moccasin;">====================================================================================================</div>

<table border="1" bordercolor=blue>
  <tr>
    <th align="center">order_number</th>
    <th align="center">system_serials</th>
  </tr>
  <tr valign="top">
    <td align="left">19999</td>
    <td align="left">A1-55239</td>
  </tr>
</table>
 <div style="background-color:Moccasin;color:Moccasin;">====================================================================================================</div>

<table border="1" bordercolor=blue>
  <tr>
    <th align="center">order_number</th>
    <th align="center">customer</th>
    <th align="center">config_name</th>
    <th align="center">system_serial</th>
    <th align="center">wnty_expire</th>
    <th align="center">notes</th>
    <th align="center">smserialno</th>
    <th align="center">oemserial</th>
    <th align="center">asset_tag</th>
    <th align="center">macs</th>
  </tr>
  <tr valign="top">
    <td align="left">19999</td>
    <td align="left">Madel Enterprises</td>
    <td align="left">*FREENAS-CERTIFIED-2U12-V2</td>
    <td align="left">A1-55239</td>
    <td align="left">&nbsp; </td>
    <td align="left">&nbsp; </td>
    <td align="left">C8260FF48N40238</td>
    <td align="left">&nbsp; </td>
    <td align="left">&nbsp; </td>
    <td align="left">igb0_0C:C4:7A:DB:F3:50, igb1_0C:C4:7A:DB:F3:51, igb2_0C:C4:7A:DB:F3:52, igb3_0C:C4:7A:DB:F3:53, ﻿IPMI_AC:1F:6B:03:6C:52</td>
  </tr>
</table>
 <div style="background-color:LightCyan;color:LightCyan;">====================================================================================================</div>

<table border="1" bordercolor=blue>
  <tr>
    <th align="center">part</th>
    <th align="center">model</th>
    <th align="center">serial</th>
    <th align="center">rma</th>
    <th align="center">revision</th>
    <th align="center">support_number</th>
  </tr>
  <tr valign="top">
    <td align="left">Backplane</td>
    <td align="left">BPN-SAS3-826EL2, REV:1.01</td>
    <td align="left">HB171S005314</td>
    <td align="left">f</td>
    <td align="left">&nbsp; </td>
    <td align="left">&nbsp; </td>
  </tr>
  <tr valign="top">
    <td align="left">CPU</td>
    <td align="left">E5-2630v4, S-SPEC:SR2R7</td>
    <td align="left">773R0T5202181</td>
    <td align="left">f</td>
    <td align="left">&nbsp; </td>
    <td align="left">J652B930, MALAY</td>
  </tr>
  <tr valign="top">
    <td align="left">HBA</td>
    <td align="left">LSI00343/9300-8E</td>
    <td align="left">SP70213509</td>
    <td align="left">f</td>
    <td align="left">&nbsp; </td>
    <td align="left">&nbsp; </td>
  </tr>
  <tr valign="top">
    <td align="left">HD</td>
    <td align="left">&nbsp; </td>
    <td align="left">N8GVH0NY</td>
    <td align="left">f</td>
    <td align="left">A907</td>
    <td align="left">&nbsp; </td>
  </tr>
  <tr valign="top">
    <td align="left">HD</td>
    <td align="left">&nbsp; </td>
    <td align="left">N8GVMBDY</td>
    <td align="left">f</td>
    <td align="left">A907</td>
    <td align="left">&nbsp; </td>
  </tr>
  <tr valign="top">
    <td align="left">HD</td>
    <td align="left">&nbsp; </td>
    <td align="left">N8GVRK0Y</td>
    <td align="left">f</td>
    <td align="left">A907</td>
    <td align="left">&nbsp; </td>
  </tr>
  <tr valign="top">
    <td align="left">HD</td>
    <td align="left">&nbsp; </td>
    <td align="left">N8GVUHLY</td>
    <td align="left">f</td>
    <td align="left">A907</td>
    <td align="left">&nbsp; </td>
  </tr>
  <tr valign="top">
    <td align="left">HD</td>
    <td align="left">&nbsp; </td>
    <td align="left">N8GVUYBY</td>
    <td align="left">f</td>
    <td align="left">A907</td>
    <td align="left">&nbsp; </td>
  </tr>
  <tr valign="top">
    <td align="left">HD</td>
    <td align="left">&nbsp; </td>
    <td align="left">N8GWGW7Y</td>
    <td align="left">f</td>
    <td align="left">A907</td>
    <td align="left">&nbsp; </td>
  </tr>
  <tr valign="top">
    <td align="left">HDD Kit Backplane</td>
    <td align="left">BPN-SAS826-2PT, REV:1.00</td>
    <td align="left">672042111145</td>
    <td align="left">f</td>
    <td align="left">&nbsp; </td>
    <td align="left">&nbsp; </td>
  </tr>
  <tr valign="top">
    <td align="left">Memory</td>
    <td align="left">RD4R8G44S2133</td>
    <td align="left">N/A</td>
    <td align="left">f</td>
    <td align="left">&nbsp; </td>
    <td align="left">4 PCS</td>
  </tr>
  <tr valign="top">
    <td align="left">MotherBoard</td>
    <td align="left">X10SRH-CLN4F, Rev. 1.00A</td>
    <td align="left">NM171S007084</td>
    <td align="left">f</td>
    <td align="left">2.0b / IPMI:3.44</td>
    <td align="left">&nbsp; </td>
  </tr>
  <tr valign="top">
    <td align="left">Power Supply</td>
    <td align="left">PWS-920P-SQ, REV:1.1</td>
    <td align="left">P9212CG38ET3545</td>
    <td align="left">f</td>
    <td align="left">&nbsp; </td>
    <td align="left">&nbsp; </td>
  </tr>
  <tr valign="top">
    <td align="left">Power Supply</td>
    <td align="left">PWS-920P-SQ, REV:1.1</td>
    <td align="left">P9212CG38ET3549</td>
    <td align="left">f</td>
    <td align="left">&nbsp; </td>
    <td align="left">&nbsp; </td>
  </tr>
  <tr valign="top">
    <td align="left">SSD</td>
    <td align="left">Flash Drive </td>
    <td align="left">E0117180600000001951</td>
    <td align="left">f</td>
    <td align="left">&nbsp; </td>
    <td align="left">&nbsp; </td>
  </tr>
  <tr valign="top">
    <td align="left">SSD</td>
    <td align="left">Flash Drive </td>
    <td align="left">E0117180600000002036</td>
    <td align="left">f</td>
    <td align="left">&nbsp; </td>
    <td align="left">&nbsp; </td>
  </tr>
  <tr valign="top">
    <td align="left">SataDom</td>
    <td align="left">APSDM032GS2AN-CTM1</td>
    <td align="left">261716206218</td>
    <td align="left">f</td>
    <td align="left">&nbsp; </td>
    <td align="left">&nbsp; </td>
  </tr>
  <tr valign="top">
    <td align="left">SataDom</td>
    <td align="left">APSDM032GS2AN-CTM1</td>
    <td align="left">261716206219</td>
    <td align="left">f</td>
    <td align="left">&nbsp; </td>
    <td align="left">&nbsp; </td>
  </tr>
</table>
 <div style="background-color:Moccasin;color:Moccasin;">====================================================================================================</div>

